.header {
  background-color: #ffffff;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  }


.header__title {
  max-width: 729px;
  margin-left: 80px;
  margin-bottom: 0;
  font-family:  "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-top: 0;
}

.header__span-accent {
  width: 100%;
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
  position: relative;
}

.header__description {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 683px;
  padding-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
}

.header__image {
  position: absolute;
  z-index: 0;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  width: 100%;
  margin-left: auto;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0;
  bottom: 40px;
  }

.header__hours {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 100px;
  }

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: 6f6f6f;
  margin-left: auto;
  }



.header__paragraph_address{
  margin-right: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /*margin-top: 150px;
   /*flex: none;
   position: relative;*/
   /*align-self: flex-end;*/
   z-index: 2;
   position: absolute;
   right: 4px;
   bottom: -16px;
  }