.logo_image {
  width: 116px;
  height: 21px;
  margin-left: 80px;
}


.logo {
  width: 125px;
  height: 142px;
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 30px;
  position: absolute;
}
